.userList{
  display: flex;
  width: 100%;
  max-width: 100%;
  flex-wrap: wrap;
  .user{
    border-radius: 1rem;
    padding: .5rem;
    height: 200px;
    @media only screen and (max-width: 1250px) {
      width: 49%;
    }
    @media only screen and (min-width: 1251px) {
      width: 32.5%;
    }
    @media only screen and (max-width: 850px) {
      width: 99%;
    }
    background-color: #ffffff;
    margin: .5rem 0.25rem;
    display: flex;
  }
  .data{
    padding: .5rem;
  }
}